.running {
  color: green;
  font-size: 100%;
}
.ending {
  color: orange;
  font-size: 150%;
  vertical-align: middle;
}
.done {
  color: red;
  font-size: 300%;
  vertical-align: middle;
}

.small {
  width: 15%;
  margin: 5px;
}

#template {
  display: none;
}

.btn {
  margin: 5px;
}
